body {
    font-family: "monospace";  
   }
   li {
    list-style: none;
    float: left;
    padding: 33px 20px;
  }
   .header{
    background-color: #FFB6C1;
    height: 90px;
  }
  .header-picture {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    float: left;
    padding: 20px 40px;
    margin-right: 50px;
  }
  .header-list li {
    font-family: Garamond, Bookman, 'Tahoma', sans-serif;
    float: left;
    padding: 33px 20px;
    margin-left: 30px;
  }
  .main{
    padding: 100px 80px;
    background-image: url(/image/REKGroup.jpeg);
    background-size: cover;
    width: auto;
    height: auto;
    padding: 80px 90px;
    margin-bottom: 0px;
  }
  .copy-container h1 {
    font-size: 60px;
  }
  .copy-container h2 {
    font-size: 40px;
  }
  .copy-container span {
    color: #FF4A4A;
  }
  .footer{
    background-color: #FFE4E1;
    color: #4169E1;
    height: 50px;
    padding: 15px;
    margin-bottom: 0px;
  }
  .footer-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: 20px;
    float: left;
  }
  .footer-list {
    float: right;
  }
  .footer-list li {
    font-family: serif;
    color: blue;
    padding-top: 0px;
    padding-bottom: 15px;
  }
 
